<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="https://miro.medium.com/v2/resize:fit:1200/1*zhHBXu5DfE9E4XHinNlDjw.png">
  </div>
  <div class="big-card__title">
    <a href="#"><h1>Saiu a nova versão do Angular</h1></a>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores molestiae eius aspernatur laboriosam dolorum voluptatibus! Accusamus, praesentium excepturi? Voluptas, cum. </p>
  </div>
</div>
