<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img src="https://compraco.com.br/cdn/shop/articles/out-0_39b43052-d5ae-46af-b748-20eeaefa4e0b.png?v=1727815416&width=1100"
      alt="">
    </div>
    <div class="small-card__title">
      <h1><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, nesciunt.</a></h1>
    </div>
  </div>
  <div class="container__small-card__separator">
    <hr>
  </div>
</div>

